@charset 'utf-8';

/*transparentize*/

@include extjs-window-ui(
$ui:'wzwindow',
$ui-border-width:1px,
$ui-header-background-color:#e3eefb,
$ui-header-border-color:#e3eefb,
$ui-header-color:#1272b8
/*$ui-background-color:rgba(0,0,0,0)*/
);
